/* RAVEENA D'SOUZA 2017 */

/*

	Good colours:
	mistyrose: very light soft pink;
	palevioletred: comparable to expresso by sally hansen;
	thistle: very pale purple;
	whitesmoke: off white, very light grey;

*/

/*
body{
	height: 40%;
	margin: 400;
	text-align: center;
	/*width: 81%;
	background-color: whitesmoke;
}

h1{
	text-align: center;
	font-size: 50px;
	font-family: 'Muli', sans-serif;
	color: #471414;
}

.nav{
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	color: #7c1c1c;
}

.main{
	text-align: center;
	width: 80%;
	/*font-family: 'Cutive', sans-serif;
	color: #471414;
}

li {
    list-style-type: none;
}

hr {
	width: 50%;
}

/* FONTS 

font-family: 'Roboto', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Caveat Brush', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Hind', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Mada', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Baloo', cursive;
font-family: 'PT Sans Caption', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Kreon', serif;
font-family: 'Della Respira', serif;
font-family: 'Boogaloo', cursive;
font-family: 'Damion', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Cousine', monospace;
font-family: 'Homemade Apple', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Overpass Mono', monospace;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Niconne', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Slabo 13px', serif;
font-family: 'Grand Hotel', cursive;
font-family: 'Cutive', serif;

*/

/* START NEW CODE */

*
{
	margin: 0;
	padding: 0;
}

.row
{
	max-width: 1140px;
	margin: 0 auto;
}

body
{
	font-family:tahoma; /* CHANGE THIS FONT */
}

/* MAIN INTRO */
.start
{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header
{
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/bkgd/antelope-canyon.jpg);
	height: 100vh; /* vertical height */
	background-position: center;
	background-size: cover; 
    background-attachment: fixed; /* remove this line to see the difference in main background */
}

h1, h2
{
	color: white;
}

.nav
{
	list-style: none;
	float: right;
	margin-top: 60px;

}

.nav li
{
	display: inline-block;
	margin-left: 20px;
}

.nav li a
{
	text-decoration: none;
	color: white;
	/*font-family: times;*/
	font-size: 90%; /* size of menu above */
	font-weight:  BOLD;

}

.nav li a:hover
{
	color: #f4a5b6;
	border: 2px solid #f4a5b6; /* can take out, it's not that cute */
	/*border-left: 2px solid #f4a5b6
	border-right: 2px solid #f4a5b6;
	border-top: 2px solid #f4a5b6;*/
	transition: all 0.3s ease-in;
	padding: 8px 8px; /* to change nav bar */
	border-radius: 12px; /* rounding of buttons */
}

.logo img
{
	height: 101px;
	float: left;
	margin-top: 30px;
}

.btn
{
	color: #f4a5b6; /* under main button colours */
	border: 1px solid #f4a5b6;
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 12px;
	margin-right:  14px;
}

.button-fix
{
	margin-top: 34px;
}

.btn-one:hover
{
	background-color: #f4a5b6;
	color: white;
	transition: all 0.5s ease-in;
	opacity: 0.25;
}

.btn-two:hover
{
	background-color: #f4a5b6;
	color: white;
	transition: all 0.5s ease-in;
	opacity: 0.25;
}

.btn-three:hover
{
	background-color: #f4a5b6;
	color: white;
	transition: all 0.5s ease-in;
	opacity: 0.25;
}

.btn-four:hover
{
	background-color: #f4a5b6;
	color: white;
	transition: all 0.5s ease-in;
	opacity: 0.25;
}

.copy
{
    width: 70%;
    margin-left:15%;
    margin-bottom:200px;
}

h3:after
{
    width: 100px;
    height: 2px;
    background-color: #f4a5b6;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
}

.features h3
{
    margin-top: 80px;
    margin-bottom: 30px;
}

.alignment
{
    text-align: justify;
}

.features h4 /* used for the spacing of the skills sections */
{
    margin-top: 50px;
}

.features i
{
    font-size: 40px;
    color:#f4a5b6;
    margin-left: 30%;
    margin-right: 30%;
}

.container /* REMOVE THIS */
{
    list-style: none;
}

.project-showcase
{
    list-style: none;
    width: 100%;
}

.project-showcase li
{
    display: block;
    width: 25%;
    float: left;
}

.project-pic
{
    width: 80%;
    height: auto;
    margin:10px;
    overflow: hidden;
}

.project-pic img
{
    width: 250px; /* change these heights and widths to make it fit as desired */
    height: 250px;
    transform: scale(1.11); /* scale is used for making things like 3D */
    transition: all 0.5s; /* used for animations */
}

.project-pic img:hover
{
    transform: scale(1.0);
}

.project
{
    margin-top: 0px;
}

.pic-of-me img
{
    width: 40%;
    margin-left: 10%;
    margin-top: 25px;
}

.info-abt-me
{
    margin-top: 15px;
}

.one, .two, .three
{
    border: 1px solid #f4a5b6;
    display: inline-block; /* try changing some of these values with the next stuff commented */
    border-radius:50%;
    width:50px;
    height:50px;
    text-align: center;
    line-height: 50px;
    margin-top: 25px;
}

.icon1 img
{
    height: 48px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon2 img
{
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon3 img
{
    height: 42px;
    margin-left: 10px;
    margin-right: 10px;
}

.clearfix
{
    zoom:1;
}

.clearfix:after
{
    visibility: hidden;
    content:".";
    height: 0;
    display: block;
    clear: both;
}

.welcome
{
    margin-top: 16px;
}

/* CUTE COLOURS */

/*
soft pink: #f4a5b6

*/