/*  Raveena D'Souza
    main.css for raveenadsouza.com */


                                        /* ======== GENERAL ======== */

*
{
	margin: 0;
	padding: 0;
}

.row
{
	max-width: 1140px;
	margin: 0 auto;
}

body
{
	font-family: 'Lato', sans-serif;
}

@font-face
{
    font-family: "AutumnInNovember";
    src: url("fonts/Autumn in November.ttf");
}

@font-face
{
    font-family: "AlwaysInMyHeart";
    src: url("fonts/Always In My Heart.ttf");
}

@font-face
{
    font-family: "Alpha54";
    src: url("fonts/Alpha54.ttf");
}

.subsec
{
    font-family: 'AutumnInNovember';
    font-size: 300%;
    color: #859fc7;
    border-top: 40px;
    padding-top: 20px;
    text-shadow: 1px 1px grey;
} 

.features h3, .resume h3
{
    color: #333333; /*#333333;*/
}

.welcome h3, .experience h3, .contact-me h3
{
    color: #333333; /*#d9d9d9;*/
}

h1, h2
{
	color: #e6e6e6;
}

.btn
{
	color: #f4a5b6;
	padding: 10px;
	text-decoration: none;
	border-radius: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    border: 0;
    text-shadow: 1px 1px grey;
    align-content: center;
    display: inline;
}
/*
.button 
{
    background-color: transparent;
    color: white;
    padding: 10px;
	text-decoration: none;
    border-radius: 2px;
    font-weight: bold;
    border: 2px solid black;
    align-content: center;
}/*/

.btn:visited, .btn:active
{
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
}

.btn:hover
{
    color: #f18ea3;
    background-color: transparent;
}

h3:after /* underline */
{
    width: 100px;
    height: 3px;
    background-color: #999999;
    display: block;
    content: " ";
    margin: 0 auto;
}

h3
{
    margin-top: 0;
}

.container
{
    list-style: none;
}

@media(max-width:768px)
{
    font-size:12px; /* idk ????? */
}

p::selection, h3::selection, h1::selection, h2::selection, i::selection, h4::selection, h5::selection, h6::selection, li::selection, img::selection, figcaption::selection, a::selection, strong::selection, span::selection
{
    background: indianred;
    color: white;
}

p::-moz-selection, h3::-moz-selection, h1::-moz-selection, h2::-moz-selection, i::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, li::-moz-selection, img::-moz-selection, figcaption::-moz-selection, a::-moz-selection, strong::-moz-selectionm span::-moz-selection
{
    background: indianred;
    color: white;
}

                                        /* ======== HEADER ======== */

.start
{
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
    padding-top: 0px;
    margin-bottom: 0;    
}

.name
{
    font-family: 'AutumnInNovember';
    height: 11vh;
    padding-left: 0;
    font-size: 11vh;
    padding-right: 0;
    padding-top: 100px;;
    padding-bottom: 40px;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px grey;
}

.start h2
{
    padding-top: 10px;
    font-size: 4vh;
    padding-left: 20px;
    padding-right: 20px;
}

header
{
    /* Image used is by Cody Wilson and can be seen at https://500px.com/photo/39662100/wallowa-oregon-by-cody-wilson */
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),url(images/bkgd/wallowa-oregon-2.jpg);
	height: 100vh;
	background-position: top;
	background-size: cover; 
    background-attachment: fixed;
    position: relative;
}

.nav
{
	list-style: none;
	float: right;
    background: #333333;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
}

.nav li
{
	display: inline-block;
	margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    opacity: 1;
}

.nav ul
{
    padding: 0;
    margin: 0;
}

.nav li a
{
	text-decoration: none;
	color: white;
	font-size: 115%;
	font-weight:  BOLD;
}

.nav li a:hover
{
    transition: all 0.15s ease-in;
    color: #b3e0ff;
    background-color: transparent;
    text-shadow: 1px 1px #000000;
}

.nav li a:active
{
    background-color: transparent;
}

.nav li a:visited
{
    background-color: #333333;
}

.nav li a:focus
{
    background-color: #333333;
}

.btn-one:hover, .btn-two:hover, .btn-three:hover, .btn-four:hover, .btn-five:hover, .btn-six:hover
{
	background-color: red;
	color: white;
	transition: all 0.25s ease;
	opacity: background 0.8;
    background-blend-mode: color;
}

.btn:focus
{
    color: white;
    background-color: #333333;
}

.btn:focus:active
{
    color: #99d6ff;
}

.description a
{
    color: #d9d9d9;
    text-decoration: none;
}

.my-title
{
    font-size: 17px;
}

                                        /* ======== WELCOME AND ABOUT ME ======== */

.info-abt-me p
{
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;;
    color: #333333;/*#d9d9d9;*/
    text-align: center;
    padding-bottom: 20px;
    font-size: 17px;
}

.pic-of-me img
{
    margin-top: 30px;
    max-height: 380px;
    border-radius: 50%;
    max-width: 42%;
}

.info-abt-me
{
    padding-top: 0;
}

.one, .two, .three
{
    border: 1px solid #f4a5b6;
    display: inline-block;
    border-radius:50%;
    width:50px;
    height:50px;
    text-align: center;
    line-height: 50px;
    margin-top: 25px;
}

.welcome
{
    background: #b3b3b3;/*#004d80;*/
    border: solid 10px #b3b3b3; /*004d80;*/
}

                                        /* ======== SKILLS ======== */

.features
{
    background: #cccccc; /* #b3d9ff;*/
    background-image: url(images/bkgd/subtle-grey.jpg);
    background-blend-mode: darken;
    border-bottom: solid 40px #cccccc; /*b3d9ff;*/
}

.features h3
{
    border-top: solid 10px #cccccc; /*b3d9ff;*/
    border-bottom: 30px;
}

.fa
{
    padding: 0;
    margin: 0;
}

.features ul
{
    list-style: none;
}

.features h4 /* used for the spacing of the skills sections */
{
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333333;
}

.move
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
}

.big-icon i
{
    font-size: 57px;
    color: #002266;
    align-items: center;
}

.shadow
{
    text-shadow: 1px 1px grey;
}

.bullets
{
    padding-top: 25px;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 17px;
}

.bullets li
{
    line-height: 17px;
    padding: 5px;
}

.shadow i
{
    padding-top: 7px;
}


                                        /* ======== PROJECTS ======== */

.exp-showcase
{
    list-style: none;
    width: 100%;
    margin-top: 4px;
}

.exp-showcase h3
{
    padding-top: 40px;
}

.exp-showcase li
{
    display: block;
    width: 25%;
    float: left;
    max-width: 350px;
    align-content: center;
}

.exp-pic img/*, .overlay*/
{
    width: 80%;
    height: 80%;
    max-width: 200px;
    transform: scale(1.1);
    transition: all 0.5s;
    opacity: 0.79; 
    position: relative; 
    margin-top: 30px;
    border-radius: 20px;
}

.exp-pic img:hover
{
    transform: scale(1.15); /* for zoom in effect*/
    opacity: 1.0;
}

.exp-pic p
{
    padding-top: 15px;
}
 
.experience
{
    background: #b3b3b3;
    padding-bottom: 50px;
}

.clearfix
{
    zoom: 1;
}

.clearfix:after
{
    visibility: hidden;
    content:".";
    height: 0;
    display: block;
    clear: both;
}

.the-modal
{
    background-color: #f2f2f2;
    opacity: 0.9;
}

.modal-body
{
    padding: 40px;
}

.modal-pic
{
    max-width: 60%;
    max-height: 400px;
    border-radius: 10px;
}

.exp-pic:after
{
    color: red;
    background-color: green;
}

.caption
{
    font-size: 17px;
    font-weight: bold;
}

                                        /* ======== RESUME ======== */

.resume
{
    padding-bottom: 35px;
    background: #cccccc;
}

.resume-thanks
{
    padding: 40px;
    padding-bottom: 10px;
    font-size: 17px;
}

.resume a
{
    font-size: 18px;
    color: #4b5c9b;
	padding: 10px;
	text-decoration: none;
	border-radius: 12px;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    text-shadow: 1px 1px #484848;
    left: 50%;
}

.resume a:hover
{
    color: #3a4878;
}

                                        /* ======== CONTACT ME ======== */

.btn-block
{
    background-color: #000;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.message
{
    margin-top: 40px;
}

.contact-me
{
    border-top: solid 30px #b3b3b3;
    border-bottom: solid 10px #b3b3b3;
    background: #b3b3b3;
}

.social-media-icons i
{
    font-size: 40px;
    color: #404040; /*#b2c6e6;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-shadow: 1px 1px grey;
}

.social-media-icons i:hover
{
    color: indianred; /*#9fb8e0;*/
}

.contact-msg p
{
    color: #000;
    font-size: 20px;
    align-content: center;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    vertical-align: center;
}

.btn-warning
{
    margin: 0;
}

.btn1:focus, .btn1:active, .btn1:active:focus  
{
    color: white;
    background-color: #b2c6e6;
    border-color: #b2c6e6;
}

.btn2:focus, .btn2:active, .btn2:active:focus  
{
    color: white;
    background-color: #b2c6e6;
    border-color: #b2c6e6;
}

.btn-warning:hover, .btn-warning:visited
{
    color: white;
    background-color: #9fb8e0;
}

.btn-warning:active:focus
{
    color: white;
    background-color: #8ba9da;
}

.btn1
{
    margin-top: 20px;
}

.btn2
{
    margin-bottom: 40px;
}

                                        /* ======== FOOTER ======== */

.scroll-to-top {
   width: 40px;
   height: 40px;
   opacity: 0.6;
   position: fixed;
   bottom: 9px;
   right: 9px;
 }

.scroll-to-top:hover
{
    opacity: 0.8;
}

.scroll-to-top img
{
    height: 40px;
    width: 40px;
}

footer
{
    padding: 10px;
    background-color: #cccccc;
}

.footer-msg
{
    margin: 0;
    color: #1a1a1a;
    background-color: #cccccc;
}

                                        /* ======== EXTRA CSS ======== */
/* UGLY REMOVE THESE
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.box
{
    position: relative;
    max-width: 350px;
}

.image
{
    height: auto;
}

.overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aqua;
    height: 0%;
    transition: 1s ease;
    overflow: hidden;
}

.box:hover .overlay
{
    height: 50%;
}

.text
{
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    align-items: center;
}

colours from E5 pic
7195a3
24454f
7da3a7


*/
/* Copyright © 2017 Raveena D'Souza */